/* App.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3374be;
}



.App {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #3374be;
}

.header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  background-color: aqua;
  text-align: center;
  width: 100%;
  max-width: 600px; /* Set a max-width for better readability */
  height: 90%;
  background: #9dbadb;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 10%;
 
  


}
.chat-window {
  
  width: 100%;
  max-width: 600px; /* Set a max-width for better readability */
  height: 70vh;
  background: #9dbadb;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 80%;
  width: fit-content;
  line-height: 1.4;
}

.message.user {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.message.bot {
  background-color: #e0e0e0;
  color: #000;
  align-self: flex-start;
  border-bottom-left-radius: 0;
}

.input-area {
  display: flex;
  border-top: 1px solid #ddd;
  justify-content: center;
  

  padding: 10px;
}

.input-area input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box; /* Ensures padding is included in the width */
  border-radius: 10px;
}

.input-area button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  border-radius: 10px;
}

.input-area button:hover {
  background-color: #0056b3;
}

.new-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  width: 200px;
  padding: 20px;
  margin: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  color: #555;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
